<h1> Category </h1>

<h5> Category name </h5>
<%= @category.name %><br />
<h5> Category description </h5>
<%= @category.description %><br/>
      
<%= link_to 'Back', :back, class: "btn btn-outline-dark btn-sm" %>
 
