<div class='uIndexContainer'>
     <div class='uFloatContainer'>
        <div class='uSwitchContainer'>
            <div id="slideBtn"></div>
            <button type="button" class="uToggleBtn" id='bOpen' onclick="open()">Open Tasks</button>
            <button type="button" class="uToggleBtn" id='bOnGoing' onclick="going()">On-going Tasks</button>
            <button type="button" class="uToggleBtn" id='bHistory' onclick="complete()">History</button>
        </div>
        <div class='uLineBreak'>
                <hr class='aLine'>
        </div>
        <div class='uTaskHeaderContainer'>
            <p class='uTaskHeader'>Task</p>
            <p class='uTaskHeader'>Date</p>
            <p class='uTaskHeader'>Applicants</p>
            <p class='uTaskHeader'>Details</p>
        </div>
        <div class='uLineBreak'>
                <hr class='aLine'>
        </div>
    
        <div class='uTasksContainer' id='open'>
            <div class='uContainer'>
                <% @tasks.each do |task|%>
                    <% if task.created_by == current_user.first_name + ' ' + current_user.last_name && task.helper_id == nil%>
                        <div class='uTasksContainer'>
                            <div class='uTasks'>
                                <p><%= task.name %></p>
                                <p class='aEachTask'><%= task.date %></p>
                                <% if task.helper_applicants == [] %>
                                    <p>No Helper Applicants</p>
                                <% else %>
                                    <% ids = task.helper_applicants.to_a%>
                                    <% task_id = task.id%>
                                    <p>
                                        <% ids.each do |id|%>
                                            <%= link_to User.find(id).first_name, show_applicant_path(task_id, id)  %>
                                        <% end %>
                                    </p>
                                <% end %> 
                                <p> View </p>
                            </div>
                        </div>
                    <%end%>
                <%end%>
            </div>
        </div>
        <div class='uTasksContainer' id='onGoing'>
        </div>
        <div class='uTasksContainer' id='History'>
        </div>


    </div>
</div>