<h1><center>USER SHOW</center></h1>

<div class="container h-2/4 flex justify-center items-center ">
<h5><%= @user.first_name %></h1>
<h5><%= @user.last_name %></h1>
<h5><%= @user.email %></h1>
<br>
<%= link_to 'Back', :back %>
</div>