/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
 }

 body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: inherit;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 30%;
}

//LOGIN & SIGNUP PAGE
.loginContainer, .signupContainer {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: stretch;
    background: #9BD1E5;
	height: 100vh;    
    gap: 2em;
}

.logoContainer{
    display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    border-radius: 15px;
    color: rgb(78, 77, 77);
    font-size: 13px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}

.emailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: stretch;
    width: 300px;
    height: 55px;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em 1em 1em 1.2em;
    border-radius: 15px;
    color: rgb(78, 77, 77);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 5px;
} 

.emailLabel, .passwordLabel, .userTypeLabel, .fnameLabel, .lnameLabel {
    font-weight: 500;
    font-size: 11px;
}

.emailInputContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.emailInput, .passwordInput {
    width: 100%;
    border-style: none;
    background: rgba(255, 255, 255, 0.1);
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: stretch;
    width: 300px;
    height: 55px;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em 1em 1em 1.2em;
    border-radius: 15px;
    color: rgb(78, 77, 77);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 5px;
}  

.passwordInputContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.checkbox {
    transform: scale(1.2), translateY(100px)
}

.loginRememberContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: stretch;
    gap: 10px;
    text-align: center;
}

.loginButton, .signupButton {
    height: 40px;
    width: 299px;
    border-radius: 20PX;
    background: #286BA6;
    border-style: none;
    color: white;
    font-size: 16px;
}

.helperCheckbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: stretch;
    width: 300px;
    height: 55px;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em 1em 1em 1.2em;
    border-radius: 15px;
    color: rgb(78, 77, 77);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 5px;
}

.userTypeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: stretch;
    width: 300px;
    height: 55px;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em 1em 1em 1.2em;
    border-radius: 15px;
    color: rgb(78, 77, 77);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 0px;
}


.answerContainer, .yesContainer, .noContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap:5px;
}

.nameContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	align-items: stretch;
    width: 300px;
    height: 55px;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.5em 1em 1em 1em;
    border-radius: 15px;
    color: rgb(78, 77, 77);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    gap: 10px;
}


.fnameContainer, .lnameContainer {
    width: 130px;
}

.fnameInput, .lnameInput {
    width: 100%;
    border-style: hidden;
    border-bottom: .5px solid gray;
    background: rgba(255, 255, 255, 0.1);
}

.passwordHeader {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    gap: 5px;
}



@media only screen and (min-width: 600px) {
    .loginContainer, .signupContainer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .logoContainer svg{
        width: 451px;
        height: 625px;
    }
    
    .emailContainer, .passwordContainer {
        width: 300px;
    }

    .loginButton, .signupButton {
        width: 300px;
    }

}