.cIndexContainer {
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
	align-items: center;
    background: #9BD1E5;
	height: 100vh;    
    gap: 8.5px;
    padding-top: 30px;
    overflow:hidden;
}

.cHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
    background: #7BC675;
    border-radius: 15px;
    width: 338px;
    height: 44px;
    padding: 0 15px 0 15px;
}

.cHeader {
    grid-area: cHeader;
    font-size: 27px;
}

.cDescription {
    grid-area: cDescription
}

.cContainer {
    width: 338px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.41);
    border: 2px solid rgba(7, 7, 7, 0.25);
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px;
    gap: 10px;
    overflow: auto;
}

.cNewCatContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 77px;
    background: rgba(173, 204, 150, 0.61);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 5px;
}

.cLabel, .cLabel:visited, .cLabel:hover {
    font-size: 20px;
    text-decoration: none;
    color:black;
    background-color: #b6d6b8;
}


.cFormContainer {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    padding-top: 100px; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 1; 
    overflow: auto; 
}

.cFormCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 60%;
    background-color: #ADCC96;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    gap: 10px;
}

.cFormHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
    width: 100%;
    padding: 0 15px 0 15px;
}

.close{
    height: 20px;
    width: 20px;
}

.cFormDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
    gap:8px;
    font-size: 17px;
}

.cCreateBtn, .cEditBtn, .cDeleteBtn, .cDeleteBtn:visited{
    height: 25px;
    width: 150px;
    margin-top: 20px;
    border-radius: 20PX;
    background: #ffffff;
    border-style: none;
    color: black;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.cCreateBtn:hover, .cEditBtn:hover, .cDeleteBtn:hover {
    color: white;
    text-decoration: none;
    background: #286BA6;
}

#catBtn {
    height: 40px;
    width: 299px;
    border-radius: 20PX;
    background: #286BA6;
    border-style: none;
    color: white;
    font-size: 16px;
}

.cCatHeaderContainer {
    display: grid; 
    grid-template-columns: 10px 55px 65px 65px 65px 65px; 
    grid-template-rows: 20px 20px 20px 20px 20px; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . . . . ."
        ". cHeader cHeader cHeader . cMethodBtns"
        ". . . . . cMethodBtns"
        ". cDescription cDescription cDescription cDescription ."
        ". cDescription cDescription cDescription cDescription ."; 
    justify-content: center;
    align-items: center;
    background: #7BC675;
    border-radius: 15px;
    width: 338px;
    min-height: 70px;
    padding: 0 15px 0 15px;
}

.cLine {
    margin: 10px;
    width: 338px;
    color: white;
    border: 2px solid #FFFFFF;
    opacity: 100%;
}

.cTaskHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
    gap: 8.55px;
    width: 338px;
    margin: 0;
    
}

.cTaskHeader{
    margin: 0;
    font-size: 20px;
}

.cTaskContainer {
    width: 338px;
    max-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;  
    padding: 10px;
    gap: 10px;
    overflow: auto;
}

.cTask{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
    width: 338px;
    padding: 10px;
    gap: 8.55px;
    background: rgba(255, 255, 255, 0.41);
    border: 2px solid rgba(7, 7, 7, 0.25);
    box-sizing: border-box;
    border-radius: 7px;
}

.cTaskLabel, .cTaskLabel:visited, .cTaskLabel:hover {
    font-size: 16px;
    text-decoration: none;
    color:black;
    background-color: #C4E4F0;
}

.cMethodBtns {
    grid-area: cMethodBtns;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete:hover, .edit:hover, .add:hover{
    background: #7BC675;
}

.delete, .edit, .add {
    width: 25px;
    height: 25px;
}

.cTaskView{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101px;
    height: 21px;
    background: #157145;
    border-radius: 10px;
    font-size: 16px;
}

.cTaskViewBtn, .cTaskViewBtn:visited{
    color: white;
    text-decoration: none;
}

.cTaskViewBtn:hover{
    background-color: #157145;
}

@media only screen and (min-width: 600px) {
    .cHeaderContainer, .cContainer, .cCatHeaderContainer, .cTaskContainer, .cLine{
        width: 62.5em;
    }
    .cTaskHeaderContainer {
        width: 62.5em;
        padding: 0 15px 0 15px;
    }
    .cFormCat {
        width: 25%;
        height: 40%;
    }

    .cCatHeaderContainer {
        grid-template-columns: 20px 140px 140px 300px 140px 40px; 
        grid-template-rows: 20px 20px 20px 20px 20px; 
        min-height: 75px;
    }

    #catBtn {
        width: 300px;
    }

    .cTask{
        width:60.5em;
    }

    .cMethodBtns {
        left: 70vw;
        padding-top: 5px;
    }
}